@charset "utf-8";
/* CSS Document */

.textbox {
	align: center;
	align-content: center;
	margin: 0 16%;
	padding: 1%;
	margin-bottom: 5%;
}

a:link {
	text-decoration: none;
	margin: .5em 0;
	background-color: rgba(33,126,113,0);
	color: #ddd;
	position: relative;
	top: 0;
}

a:visited {
	background-color: rgba(215,215,215);
	box-shadow: rgba(0,0,0,.2) 0 5px 3px;
	color: #ddd;
	border-color: rgb(175,175,175);
}

a:active {
	top: 3px;
}

a:hover{
	color: #F4C82F;
}

.textbox a {
	margin-left: 1%;
}

h2 {
	margin-bottom: 2%;
}

#email {
	text-decoration: underline;
}

#resume {
	max-width: 97%;
	padding-right: 0;
}