@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	background-color: rgba(14,24,41,1.00);
	font-family: 'Libre Franklin', sans-serif;
	color: #ddd;
	text-shadow: #444 .1em .1em .1em;
	background-image: url("../final/images/computer-3163436.png");
	background-position: left top;
	background-attachment: fixed;
	margin-top: 8%;
}

/*  Top Navbar  */
nav {
	overflow: hidden;
	background-color: rgba(2,18,47,1.00);
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 .1em 1em .1em #111;
	z-index: 1;
}

nav ul {
	list-style: none;
	text-align: left;
}

nav div {
	display: inline-block;
	overflow: hidden;
	width: auto;
}

nav li {
	float: left;
	display: block;
	font-size: 120%;
}

nav a:link {
	display: block;
	width: auto;
	height: 1em;
	padding: 0 1em;
	text-decoration: none;
	margin: .5em 0;
	background-color: rgba(33,126,113,0);
	color: #ddd;
	position: relative;
	top: 0;
}

nav a:visited {
	background-color: rgba(215,215,215);
	box-shadow: rgba(0,0,0,.2) 0 5px 3px;
	color: #ddd;
	border-color: rgb(175,175,175);
}

nav a:active {
	top: 3px;
}

nav a:hover{
	color: #F4C82F;
}

.name {
	font-weight: 600;
	padding-right: 1em;
}

/*  Main Headers -- Set Width Case By Case */
h1 {
	text-align: center;
	margin: 0 auto;
	font-weight: 500;
	padding: .5%;
}

h2 {
	margin: 0 auto;
	font-weight: 400;
}

/*  All Text Boxes */
.textbox {
	background-color: rgba(9,25,51,0.90);
	border: 6px double #111;
	border-radius: 5px;
}

img {
	max-width: 80%;
	height: auto;
}

.imlink {
	width: 30%;
}




