@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	background-color: #14AA95;
	font-family: 'Montserrat', sans-serif;
	color: #eee;
	text-shadow: #444 .1em .1em .1em;
	background-image: url("../final/images/computer-3163436.png");
	background-position: left top;
	background-attachment: fixed;
	margin-top: 8%;
}

/*  Top Navbar  */
nav {
	overflow: hidden;
	background-color: rgba(32,131,117,1.00);
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 .1em 1em .1em #333;
	z-index: 1;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav div {
	display: inline-block;
	overflow: hidden;
	width: auto;
}

nav li {
	float: left;
	display: block;
	font-size: 120%;
}

nav a:link {
	display: block;
	width: auto;
	height: 1em;
	padding: 0 1em;
	text-decoration: none;
	margin: .5em 0;
	background-color: rgba(33,126,113,0);
	color: #fff;
	position: relative;
	top: 0;
}

nav a:visited {
	background-color: rgba(215,215,215);
	box-shadow: rgba(0,0,0,.2) 0 5px 3px;
	color: #fff;
	border-color: rgb(175,175,175);
}

nav a:active {
	top: 3px;
}

nav a:hover{
	color: #F4C82F;
}

/*  Main Headers -- Set Width Case By Case */
h1 {
	text-align: center;
	margin: 0 auto;
	font-weight: 300;
	padding: .5%;
}

/*  All Text Boxes */
.textbox {
	background-color: rgba(33,126,113,0.90);
	border: 6px double #333;
	border-radius: 5px;
}

img {
	max-width: 100%;
	height: auto;
}

/*  The Text On the Action Page  */
#action {
		font-size: 180%;
		display: block;
		text-align: center;
		width: 33%;
		margin: 1% auto 0;
		padding: 1% 1.5%;
	}

/*  Footer  */
footer {
	overflow: hidden;
	background-color: rgba(32,131,117,1.00);
	position: fixed;
	bottom: 0;
	width: 100%;
	box-shadow: 0 -.1em .5em .05em #333;
	text-align: center;
}

footer a:link{
	color: #F4C82F;
}

